* {
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
  padding: 20px;
  font-family: Arial;

  max-width: 1500px;
  margin: auto; /* Center website */
}



#portfolio {
  margin: auto; /* Center */
}

/* PORTFOLIO HEADER */
h2 {
  font-size: 30px;

  /* Center */
  width: 100%;
  text-align: center;
  margin: 20 auto;
}


/* PORTFOLIO BUTTONS */
#btnContainer {
  display:flex;
  flex-wrap:wrap; /* Items not fitting in a row get wrapped to the next row */

  align-items: center;      /* Center items */
  justify-content: center;
}

#btnContainer .btn {
  background-color: white;
  margin: 3px;
  padding: 3px 4px;
}

/* Add a grey background color on mouse-over */
#btnContainer .btn:hover {
  background-color: #ddd;
}

/* Add a dark background color to the active button */
#btnContainer .btn.active {
  background-color: #666;
  color: white;
}

/* Prevent blue outline added by Bootstrap by default*/
.btn:focus, .btn:active {
  outline: none;
  box-shadow: none;
}

#btnContainer .separator{
  height: 25px;
  border: 1px solid #777;
  margin: 8px;
}



/* AUTO-ARRANGE PORTFOLIO ITEMS */
/* Fit as many items in a row as possible */
#pf-grid{
  display:flex;
  flex-wrap:wrap; /* Items not fitting in a row get wrapped to the next row */

  align-items: center;      /* Center items */
  justify-content: center;
}

.pf-item {
  width: 250px;
  margin: 5px;
  
  border: 1px solid #ccc;
  cursor: pointer;  /* Change cursor to indicate that it's clickable */
}

/* FILTER PORTFOLIO ITEMS */
#pf-grid .pf-item {
  display: none; /* Hide items by default */
}

#pf-grid .show {
  display: block; /* The "show" class is added to the filtered elements */
}


/* PORTFOLIO ITEM */
.pf-item {
  background-color: white;
}

.pf-item img {
  width: 100%;
  height: 200px;
}

.pf-item:hover {
  border: 1px solid #777;
}

.pf-item h4 {
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;

  padding: 5px 10px 5px 10px;
  margin: 0px;
  font-size: 20px;
}




/* CAROUSEL */
.carousel{
  background-color: black;
}

.carousel-item img{
  width: 500px;
  height: 400px;
  object-fit: contain
}

.list-inline-item img{
  width: 50px;
  height: 50px;
  object-fit: cover;
}