* {
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
  padding: 20px;
  font-family: Arial;
}

.main {
  max-width: 1000px;
  margin: auto; /* Center website */
}

h1 {
  font-size: 50px;
  word-break: break-all;
}



/* PORTFOLIO BUTTONS */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
}

/* Add a grey background color on mouse-over */
.btn:hover {
  background-color: #ddd;
}

/* Add a dark background color to the active button */
.btn.active {
  background-color: #666;
  color: white;
}



/* AUTO-ARRANGE PORTFOLIO ITEMS */
/* Fit as many items in a row as possible */
.container{
  display:flex;
  flex-wrap:wrap;
}

.container > div {
  width: 300px;
  margin:8px;
  
  border: 2px solid black;
}

/* FILTER PORTFOLIO ITEMS */
.column {
  display: none; /* Hide columns by default */
}

.show {
  display: block; /* The "show" class is added to the filtered elements */
}




/* PORFOLIO ITEM */
.content {
  background-color: white;
  padding: 10px;
}

.content img {
  width: 100%;
}



